body {
  text-align: center;
  font-family: 'Segoe UI';
}

h1 {
  font-weight: 8650;
}

h2 {
  color: white;
}

#subtitle {
  color: white;
  font-size: 35px;
  font-weight: 500;
}

#box {
  font-size: 20px;
  font-weight: 350;
  color: white;
  width: 650px;
  padding: 5px;
  background-color: rgb(65,65,65);
  margin: 0;
  border: 10px solid rgb(35,35,35);
  margin: auto;
}
